/* Стиль для Про нас */
.header {
    position: absolute;
    top: 20px; 
    left: 20px; 
    display: flex;
    align-items: center;
}

.logo {
    font-family: Monotype Corsiva, sans-serif; 
    font-size: 48px; 
    font-weight: bold; 
    color: #c42c2c; 
}

/* Стилі для відео фону */
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
}

.main-button {
    background-color: #ee1d1d;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: 'Monotype Corsiva', sans-serif;
}

.main-button:hover {
    background-color: #e93730;
}

/* Стилі для про нас і картинка */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frame {
    width: 50%;
    border: 2px solid #eb1212; 
    padding: 20px; 
    margin: 20px; 
    text-align: center;
    color: rgba(255, 255, 255, 0.925);
    font-family: Arial, sans-serif;
}

.frame h2 {
    font-size: 40px; 
}

.frame p {
    font-size: 29px; 
}
.frame img {
    max-width: 100%; 
    height: auto;
}


/* Стиль для Фона */
.footer {
    background-color: rgba(0, 0, 0, 0.8); 
    color: rgb(240, 20, 20);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%; 
    height: 30px;
    margin: 0 auto;
}

.footer p {
    font-size: 30px; 
    font-family: 'Monotype Corsiva', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

nav {
    text-align: center;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 150px;
}

/* Стиль для Аватара*/
.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-details {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    display: none;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}

.user-details p {
    margin: 20px 0;
    font-size: 20px;
}

.user-details #user-name {
    font-weight: bold;
}

.user-details button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
}
