body {
  background: rgb(199, 197, 197);
}

header {
  background-color: rgb(62, 62, 62);
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

#logo {
  width: 100px;
  aspect-ratio: 1/1;
}

.product_1 img {
  width: 200px;
  height: auto;
}

.product_2 img {
  width: 200px;
  height: auto;
}

.product_3 img {
  width: 200px;
  height: auto;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  background-color: #ffffff;
  color: #2170bd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.banner {
  background-color: rgb(62, 62, 62);
  padding: 20px;
  color: white;
}

.banner h3 {
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 16px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.categories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.categories ul li {
  list-style: none;
  padding: 0 15px;
  margin: 0 5pxs 0;
  border: #000000;
  border: 3px solid black;
  border-radius: 50px;
}

.categories ul li a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
}

.categories h3 {
  border: #000000;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}

.container_products_1 {
  display: flex;
  justify-content: space-around;
}

.container_products_2 {
  display: flex;
  justify-content: space-evenly;
}

.container_products_3 {
  display: flex;
  justify-content: space-around;
}

#lam {
  height: 140px;
  width: 150px;
}

#cem {
  height: 180px;
  width: 150px;
}

#pomp {
  height: 180px;
  width: 150px;
}

.product {
  height: 330px;
  width: 150px;
  background-color: #42464a;
  color: white;
}

.product_1 {
  padding: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product_2 {
  padding: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product_3 {
  padding: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product_4 {
  padding: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product_5 {
  padding: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product_6 {
  padding: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product_7 {
  padding: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product_8 {
  padding: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.product h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-size: 14px;
  margin-bottom: 1px;
}

.product a {
  color: white;
  text-decoration: none;
  border: #000000;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 3px;
  margin: 0 10px 0;
  background: black;
}

.products h3 {
  border: grey;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}

.contacts p {
  margin: 0 -50px 5px;
}

footer ul {
  margin-right: auto;
  list-style: none;
  text-align: left;
}

footer h3 {
  margin-right: auto;
  margin-right: 165vh;
}

footer {
  background-color: rgb(62, 62, 62);
  color: #ffffff;
  text-align: center;
}